*{
    /* background-image: linear-gradient(to right, #ffe7f2 , #c5d5e8); */
    background-color: #ffffff;
    font-family: cursive; 
}

h2{
    text-align: center;
}
form{
    margin: 0;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#inp{
    justify-content: center;
    border: 2px solid #f3a29d;
    border-radius: 8px;
    
}
#inpbtn{
    justify-content: center;
    border: 1px solid;
    background-color: #f3a29d;
    color: white;
    border-radius: 8px;
}
#inpbtn:hover{
    justify-content: center;
    border: 1px solid;
    background-color: #ea7d78;
    border-radius: 8px;
}
#searchApprentice{
    justify-content: center;
    border: 2px solid #f3a29d;
    border-radius: 8px;
    position: absolute;
    left: 40%;
    
}
.btn1{
    background-color: #75b4bc;
    border-radius: 5px;
    border: 1px;
}
.btn2{
    background-color: #f3a29d;
    border-radius: 5px;
    border: 1px;
}
.btn1:hover{
    background-color: #53868d;
}
.btn2:hover{
    background-color: #9b5f5b; 
}
a{
    text-decoration: none;
    color: white;
}